{% extends 'review_base.html' %}
{% load bootstrap %}
{% block content %}
    <h1>Lets do this review</h1>
    <div class="panel panel-default container">
        <div class="panel-heading row">
            <h2 class="panel-title pull-left">{% with  review.to_user.get_full_name as name %}{% if name %}{{ name }}{% else %}{{ review.to_user }}{% endif %}{% endwith %}</h2>
            <h3 class="panel-title pull-right text-right">{{ review.questionnaire }}</h3>
        </div>
        <div class="panel-body">
            <ol class="">
                {% for question in review.questionnaire.reviewquestion_set.all %}
                    <li>{{ question }}</li>
                    {% if question.description %}
                        <ul>
                            <li>{{ question.description }}</li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
    <form action="" method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Send message"/>
    </form>
{% endblock %}