<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "home" as home %}{{ home }}">
            Reviewz</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% block nav_list %}
                <li><a href="{% url "my_reviews" %}">My Reviews</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">Questionnaires
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="
                        {% url "questionnaire_list" %}">Questionnaires</a></li>

                        <li><a href="{% url "questionnaire_create" %}">Create
                            New
                            Questionnaire</a></li>
                    </ul>
                </li>
            {% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">{{ user.username }} <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "admin:index" %}">Admin</a></li>
                        <li><a href="{% url "logout" %}">Logout</a></li>

                    </ul>
                </li>
            {% else %}
                <li>
                    <a type="button" href="{% url 'login' %}"
                       class="btn btn-default navbar-link">Sign in</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
