{# .... **Now the pagination section** .... #}
{% if is_paginated %}
    {% load i18n %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
        {% else %}
            <li class="disabled"><a href="#">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
        {% endif %}
    </ul>
{% endif %}